@charset "UTF-8";

:root {
    --cor-fundo-geral:rgb(161, 161, 161);

    --cor-fundo-cabecalho: #14181bef;
    --cor-texto-cabecalho: rgb(211, 211, 211);
    --cor-texto-cabecalho-destacado: white;
    --cor-bordas-cabecalho: #47545fef;

    --cor-fundo-principal: rgb(245, 245, 245);
    --cor-texto-principal: black;
    --cor-texto-principal-destacado: ;
    --cor-bordas-principal: #261D0D;
    
    --cor-primaria: #D9A23D;
    --cor-primaria-escura: #BF7A26;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-fundo-geral);
    margin: 0px;
    padding: 0px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    list-style-type: square;
}

header {
    display: inline-block;
    background-color: var(--cor-fundo-cabecalho);
    color: var(--cor-texto-cabecalho);    
    height: auto;
    max-width: 350px;
    padding: 50px;
}

div#foto-de-perfil {
    background-image: url(../imagens/EDU_9453-500.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 40px;
}

header div.informacoes-pessoais > h1 {
    padding-top: 20px;
    border-top: 1px solid var(--cor-bordas-cabecalho);
    color: var(--cor-primaria);
    font-size: 25px;
    letter-spacing: 3px;
}

header div.blocos-de-texto {
    padding-top: 5px;
    margin: 30px 0px;
    border-top: 1px solid  var(--cor-bordas-cabecalho);
}

header strong {
    color: var(--cor-texto-cabecalho-destacado);
}

header p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
}

header a {
    color: var(--cor-texto-cabecalho-destacado);
}

header a:hover {
    color: var(--cor-primaria-escura);
}

header h2 {
    color: var(--cor-primaria);
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
}

header h3 {
    font-size: 18px;
    color: var(--cor-texto-cabecalho-destacado);
    font-weight: 400;
}

main {
    display: inline-block;
    background-color: var(--cor-fundo-principal);
    padding: 30px;
    height: auto;
    width: auto;
    max-width: 450px;
}

main h2.tema-topicos {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-bordas-principal);
    margin-bottom: 0px;
    letter-spacing: 2px;
    color: var(--cor-texto-principal);
}

main p.competencias {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--cor-bordas-principal);
    margin: 5px 3px;
}

main ul {
    margin: 0px;
    margin-top: 15px;
    padding-left: 20px;
}

main li {
    padding: 2px 0px;
}

main p.descricoes {
    margin: 2px 0px;
    font-size: 12px;
    font-weight: 300;
    padding-left: 5px;
}

main p.descricao-principal {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    margin: 2px 0px;
    text-transform: uppercase;
}

main div.caixa-descricoes {
    display: inline-block;
    width: 30%;
}

main div.caixa-de-topicos {
    display: inline-block;
    padding-left: 10px;
    width: 60%;
    border-left: 1px solid var(--cor-bordas-principal);
}

main > div {
    margin-bottom: 50px;
}

main div > div {
    margin-top: 15px;
    vertical-align: top;
}

main h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

main h2#competencias {
    margin-bottom: 10px;
}
