@charset "UTF-8";

:root {
    /*--cor-fundo-geral:rgb(155, 155, 155);

    --cor-fundo-cabecalho: #14181bef;
    --cor-texto-cabecalho: rgb(211, 211, 211);
    --cor-texto-cabecalho-destacado: rgb(230, 230, 230);
    --cor-bordas-cabecalho: #47545fef;

    --cor-fundo-principal: rgb(235, 235, 235);
    --cor-texto-principal: rgb(10, 10, 10);
    --cor-texto-principal-destacado: #000000;
    --cor-bordas-principal: #261D0D;
    
    --cor-primaria-clara: #F2E2C4;
    --cor-primaria: #D9A23D;
    --cor-primaria-escura: #bb7929;*/

    --cor-fundo-geral:       #E9E9E9; 
    --cor-fundo-cabecalho:   #2A2F35; 
    --cor-texto-cabecalho:   #F5F5F5; 
    --cor-texto-cabecalho-destacado: #FFFFFF; 
    --cor-bordas-cabecalho:  #3C4249; 

    --cor-fundo-principal:   #FFFFFF; 
    --cor-texto-principal:   #2B2B2B; 
    --cor-texto-principal-destacado: #000000; 
    --cor-bordas-principal:  #CCCCCC; 

    --cor-primaria-clara:    #E8D8B0; 
    --cor-primaria:          #C9A069; 
    --cor-primaria-escura:   #A47C46; 
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-fundo-geral);
    margin: 0px;
    padding: 0px;
    
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Merriweather", Cambria, Georgia, serif;
  }

li {
    list-style-type: square;
}

header {
    display: inline-block;
    background-color: var(--cor-fundo-cabecalho);
    color: var(--cor-texto-cabecalho);    
    width: 400px;
    padding: 50px;
}

div#foto-de-perfil {
    background-image: url(../imagens/EDU_9453-500.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 40px;
}

header div.informacoes-pessoais > h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-bordas-cabecalho);
    margin-top: 0px;
    color: var(--cor-primaria);
    font-size: 25px;
    letter-spacing: 3px;
}

header div.informacoes-pessoais > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
    margin: 20px 0px;
}

header div.informacoes-pessoais > div > p {
    max-width: auto;
}

img.icone {
    margin-right: 10px;
}

header div.blocos-de-texto {
    padding-top: 5px;
    margin: 30px 0px;
    border-top: 1px solid  var(--cor-bordas-cabecalho);
}

header strong {
    color: var(--cor-texto-cabecalho-destacado);
}

header p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

header p.tecnologias {
    font-size: 14px;
    margin: 10px 0px;
}

header p.tecnologias strong {
    letter-spacing: 1px;
}

header a {
    color: var(--cor-primaria-clara); 
    text-decoration: none;
}

header a:hover {
    color: var(--cor-primaria-escura);
}

header h2 {
    color: var(--cor-primaria);
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
}

header h3 {
    font-size: 18px;
    color: var(--cor-texto-cabecalho-destacado);
    font-weight: 400;
}

main {
    display: inline-block;
    background-color: var(--cor-fundo-principal);
    padding: 50px;
    width: 500px;

    color: var(--cor-texto-principal);
}

main div.caixa-sessoes {
    width: 100%;
    margin-bottom: 40px;
}

main h2.tema-topicos {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-bordas-principal);
    margin: 0px;
    letter-spacing: 1px;
    color: var(--cor-texto-principal);
}

main div.caixa-topicos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 25px;
}

main div.caixa-informacoes {
    width: 80%;
    padding-left: 10px;
    margin-right: 20px;
}

main div.caixa-informacoes h4 {
    margin: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
    letter-spacing: 1px;
}

main div.caixa-informacoes p {
    font-size: 15px;
    margin: 0px;
    color: var(--cor-texto-principal-destacado);
}

main div.caixa-descricoes {
    width: 20%;
    border-left: 1px solid var(--cor-bordas-principal);
}

main p.descricoes {
    margin: 2px 0px;
    font-size: 11px;
    font-weight: 300;
    padding-left: 5px;
}

main p.descricao-principal {
    font-size: 11px;
    font-weight: 600;
    padding-left: 5px;
    margin: 2px 0px;
    text-transform: uppercase;
}

main p.descricao-principal a {
    color: var(--cor-primaria-escura); 
    text-decoration: none;
}

main p.descricao-principal a:hover {
    color: var(--cor-primaria-clara);   
}

main div.experiencia {
    display: flex;
    flex-flow: column nowrap;
}

main div.experiencia-topicos {
    margin-top: 25px;
}

main div.experiencia-topicos ul {
    margin: 0px;
}

main div.experiencia-topicos li {
    font-size: 14px;
    text-align: justify;
    margin-top: 12px;
    line-height: 1.3;
}

main p.competencias {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--cor-bordas-principal);
    margin: 5px 3px;
}

main h3 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

main div.caixa-projetos {
    display: flex;
    justify-content: space-around;
}

main div.projeto {
    width: 85%;
}

main div.projeto div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1px 5px;
    margin-bottom: 3px;
}

main div.projeto div a {
    font-size: 13px;
    color: var(--cor-primaria-escura); 
    text-decoration: none;
}

main div.projeto div a:hover {
    color: var(--cor-primaria-clara); 
}

main div.projeto h4 {
    margin: 0px;
}

main div.projeto p {
    padding: 2px 2px 7px 2px;
    margin: 0px;
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
}

main #cursos {
    display: flex;
    flex-flow: column nowrap;
}

main .cursos-topicos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

main .cursos-topicos h4 {
    font-size: 14px;
    margin: 5px 0px;
}

main .cursos-topicos ul {
    margin: 0px 15px;
    font-size: 14px;
    border-left: 1px solid var(--cor-bordas-principal);
    padding-left: 30px;
}

@media (max-width: 1115px) {
    header {
        max-width: 350px;
    }

    main {
        max-width: 350px;
    }
}